@model TicketEditModel

@{
    ViewBag.Title = "Edit Ticket";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_TicketEditPartial" model="@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}