@model List<ProjectModel>

@{
    ViewBag.Title = "All projects";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    @foreach (var order in Model)
    {
        <partial name="_ProjectPartial" model="@order" />
    }
</div>
