@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> Projects.
    </p>
    <hr class="my-4">
    <a asp-area="Client" asp-controller="Project" asp-action="All"
       class="btn btn-primary btn-lg">All Project</a>
    <a asp-area="Admin" asp-controller="Project" asp-action="Add"
       class="btn btn-primary btn-lg">Add Project</a>
    <a asp-area="Staff" asp-controller="Ticket" asp-action="All"
       class="btn btn-primary btn-lg">All Tickets</a>
</div>