@model List<AccountModel>

@{
    ViewBag.Title = "All projects";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    @foreach (var project in Model)
    {
        <partial name="_AccountPartial" model="@project" />
    }
</div>
