@model List<AccountModel>

@{
    ViewBag.Title = "Account Requests";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    @foreach (var account in Model)
    {
        <partial name="_AccountRequestPartial" model="@account" />
    }
</div>
